body {
    background-color: #eee;
    font-family: 'Oxanium', cursive;
    font-size: 15px;
}

/*your code here*/
.correct {
    color: green;
}

.incorrect {
    color: red;
}

.center-div
{
     margin: 0 auto;
     width: 600px; 
}

table {
    width: 600px;
    border-top: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #c5c5c5;
    padding: 3px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}